@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Story Book</h1>
    <p class="lead">Find the source code here.</p>
    <p><a href="https://github.com/Kresnik3113/StoryBook" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What this is</h2>
        <p>
            This is a simple website to help you keep track of any import information when writing a story.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Whats the point?</h2>
        <p>When a story starts to get large it can be hard to keep track of all your import charater and places, this is here to make that easier.</p>

    </div>
    <div class="col-md-4">
        <h2>Is this free</h2>
        <p>Yep.</p>

    </div>
</div>